[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
mssql-django = "*"
pyodbc = "*"
yt-dlp = "*"
requests = "*"
python-decouple = "*"
python-dotenv = "*"
pynacl = "*"
"discord.py" = {extras = ["voice"], version = "*"}
aiohttp = "*"

[dev-packages]

[requires]
python_version = "3.12"
